build/*
*/build/*
ext/*
shaders/**/compiled/*
reflect/*
*.exe
local/*
install_build
install_result
*.wav
**/generated/**
cmake-build-debug
compile_commands.json
.cache
.idea
*.bmp
__pycache__
gen/*.png
*.ttf
*.vs
bin/
obj/
ext/*!headers
build/
out/
cpp/